#flipkart-navbar {
  background-color: #2874f0;
  color: black;
}

.row2 {
  padding-bottom: 20px;
  padding-top: 10px;
}

.flipkart-navbar-input {
  padding: 10px 16px;
  border-radius: 2px 0 0 2px;
  border: 0 none;
  outline: 0 none;
  font-size: 15px;
}

.col-xs-11 {
  width: 60%;
}

.flipkart-navbar-button {
  background-color: #ffe11b;
  border: 1px solid #ffe11b;
  border-radius: 0 2px 2px 0;
  color: #565656;
  padding: 10px 0;
  height: 41px;
  cursor: pointer;
}

.largenav {
  display: none;
}

.smallsearch {
  margin-left: 25px;
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .largenav {
    display: block;
  }
  .smallnav {
    display: none;
  }
  .smallsearch {
    margin: 0px;
  }
}


/*Sidenav*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 0 4px 8px -3px #555454;
  padding-top: 0px;
}

.logo {
  height: 30px;
  width: 100px;
  margin-top: 7px;
}

.toplist li {
  list-style: none;
  display: inline-flex;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 16px;
  color: white;
}

.toplist li:hover {
  color: #f2f2f2;
}

.secondbar {
  text-align: center;
  background-color: white;
  box-shadow: 1px 2px;
  color:#d3d3d3;
}

.secondbar li {
  list-style: none;
  display: inline-flex;
  margin-right: 60px;
  color: black;
  margin-top: 10px;
}

.secondbar li:hover {
  color: blue;
}


/*product*/

.product img {
  max-width: 100%;
  height: auto%;
}

.product--title {
  color: #008080;
  font-weight: bold;
  font-size: 1.5em;
  font-family: serif;
  padding: 20px 0;
  text-align: center;
}

.product--title h2 {
  display: inline-block;
  border-bottom: 2px dashed;
}

.product--image,
.product--details {
  float: left;
  width: 45%;
}

.product--image {
  padding-right: 5%;
  display: block;
}

.product--image .icon-images img {
  height: 50px;
  margin: 0 10px;
  margin-top: 10px;
}

.product-border {
  cursor: pointer;
  border: 1px solid #e5e5e5;
  display: block;
  width: 70px;
  height: 72px;
  margin-left: 1cm;
  text-align: center;
}

.product-border:hover {
  border-color: blue;
  border: 2px solid blue;
}

@media screen and (max-width: 500px) {
  .product--image,
  .product--details {
    float: none;
    width: 100%;
    padding: 10px 5px;
    margin: 5px 10px;
  }
}

.display-img {
  height: 410px!important;
}

/*big-boder*/
.big-boder {
  cursor: pointer;
  border: 1px solid #e5e5e5;
  display: block;
  padding-bottom: 1cm;
  padding-top: 1cm;
  padding-left: 100px;
  padding-right: 100px;
  height: 520px;
  overflow: hidden;
  margin-left: 108px!important;
  margin-top: -216px;
  text-align: center;
  width: 430px;
}

.product-name {
  font-size: 20px;
}

.product-rating {
  font-size: 15px;
  color: #74767a;
  margin-top: 10px;
}

.Rating {
  background-color: green;
  border: none;
  color: white;
  border-radius: 2px;
  font-size: 12px;
  padding-top: 5px;
  margin-right: 10px;
}

.veri {
  margin-top: 20px;
}

.veri li img {
  width: 60px;
  height: 60px;
  list-style: none!important;
  display: inline-flex;
  margin-right: 20px;
  margin-left: 10px;
}

.gb li {
  margin-right: 0px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid;
  border-color: #d1cfcf;
  border-width: 2px;
  color: grey;
  display: inline-flex;
}


/*image colors*/
.leftpics li img {
  cursor: pointer;
  border: 2px solid #9e9fa8;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.leftpics li {
  margin-right: -8px;
}

.leftpics li img:hover {
  border: 2px solid #0a0f30;
}

.buto {
  width: 210px;
  height: 60px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  background-color: #f2f2f2;
  font-size: 16px;
}

.buton {
  height: 60px;
  width: 208px;
  margin-right: 10px;
  border: none;
  background-color: #ff7221;
  color: white;
  border-radius: 3px;
  font-size: 16px;
}

.buto:hover {
  box-shadow: 2px 3px #eae8e8;
}
/*zoom effect*/
#overlay {
  border: 1px solid #e2e2e2;
  position: absolute;
  margin-top: -5cm;
  border-radius: 5px;
  margin-left: 580px;
  background-color: white;
  background-image: url('https://rukminim1.flixcart.com/image/832/832/j7qi9ow0/mobile/q/k/h/apple-iphone-se-mp842hn-a-original-imaexw6frwpducnb.jpeg?q=70');
  background-repeat: no-repeat;
  width: 30%;
  height: 60%;
  z-index: 1;
 
  
   
}





/*pincode*/
input.pincode {
  border-bottom: 4px dotted blue;
  border-top: none;
  "

}